#music-player {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2B124C;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #thefile {
    display: block;
    margin: 0 auto 20px;
  }
  
  #canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    border-radius: 5px;
  }
  
  
  audio {
    display: block;
    margin: 20px auto 0;
    width: 100%;
  }
  
  canvas:focus,
  audio:focus,
  #thefile:focus {
    outline: none;
  }
  
  h2 {
    text-align: center; /* Align the heading to the center */
    font-family: "Arial", sans-serif; /* Add font family */
    color: #E1CBD7;
  }
  